<!DOCTYPE html>
<html>
<head>
<title>Moe Search - 萌搜索</title>
<?php include dirname(__FILE__) . '/head.html';?>
<style>
.container .logo{text-align:center;margin-top:5%}.container .logo h1{font-size:70px;margin-bottom:30px;color:#fff}.container .logo h2{font-size:60px;margin-bottom:50px;color:#fff}.ss button{padding:12px 16px 11px}.container .logo .input-group{margin-top:20px}.container .logo .input-group-btn{width:1%}.aw-footer{bottom:0;position:fixed;width:100%}h4{color:#fff}
</style>
</head>
<body>
<?php include dirname(__FILE__) . '/no-script.html';?>
	<div class="aw-top-menu-wrap">
		<div class="container">
			<div class="aw-logo">
				<a href="<?php echo get_base();?>"></a>
			</div>
		</div>
	</div>	

<div class="aw-container-wrap">
        <div class="container">
            <div class="logo">
                <h1 class="hidden-xs">Moe Search</h1>
				<h2 class="visible-xs">Moe Search</h2>
                <h4>Across the great wall,we can reach every corner in the world.</h4>
                <form id="search-form" class="form-inline" role="form" action="./search.php">
                    <div class="input-group col-xs-12 col-md-8">
                        <input name="word" id="search-word" type="text" placeholder="萌萌哒..." autocomplete="off" class="form-control input-lg" required>                        
                        <span class="input-group-btn ss" id="input-group">
                            <button id="psearch" class="btn btn-primary btn-lg" type="submit">
                                搜索
                            </button>                            
                        </span>
                    </div>
                </form>
            </div>
        </div>

</div>

<?php include dirname(__FILE__) . '/foot.html';?>

</body>
</html>
